* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
}
main {
    margin: 0.5em;
}
.container {
    width: 400px;
    height: auto;
    border: 1px solid black;
    margin: 0 auto; 
}

img {
    width: 100%;
    height: auto;
}

h1 {
    display: inline;
}

h1 + p {
    padding-bottom: 20px;
}

p:nth-of-type(2) {
    font-weight: bold;
}

h4 {
    padding: 10px 20px;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 4px 6px -6px black;
}

.text {
    padding: 20px;
}
.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons > button {
    width: 33%;
    padding: 10px;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

#first {
    background-color: rgb(42, 202, 194);
}

#second {
    background-color: rgb(42, 169, 192);
}

#reset {
    background-color: rgb(233, 53, 53);
}